---
import { Button } from '@/components/ui/button';
import { BL2_CLASSES } from '@/constants/common/classes';
import { ITEM_CATEGORIES } from '@/constants/items/item';
import { cn } from '@/lib/utils';
import { capitalize, pascalCase } from 'es-toolkit';
import { HouseIcon } from 'lucide-react';

const BASE = import.meta.env.BASE_URL;

const MAIN_NAVIGATIONS = [
  {
    label: 'Skill Calculator',
    to: BASE + '/skills',
  },
  {
    label: 'Items',
    to: BASE + '/items/weapons',
  },
  {
    label: 'Drop Sources',
    to: BASE + '/sources',
  },
  {
    label: 'Vendors',
    to: BASE + '/vendors',
  },
];

const ACTIVE_CLASSNAME = cn('border-foreground/50 bg-foreground/20 text-foreground');

const pathname = Astro.url.pathname;
const isSkillCalculator = pathname.startsWith(BASE + '/skills');
const isItems = pathname.startsWith(BASE + '/items');
---

<header class="sticky top-0 z-50 flex flex-col gap-2 py-4 backdrop-blur-xs">
  <div class="mx-auto flex items-center gap-2">
    <a href={BASE + '/'}>
      <Button variant="secondary">
        <HouseIcon />
      </Button>
    </a>
    {
      MAIN_NAVIGATIONS.map((navigation) => (
        <a href={navigation.to}>
          <Button
            variant="secondary"
            className={cn(pathname.startsWith(navigation.to) && 'bg-blue-200/25 hover:bg-blue-200/30')}
          >
            {navigation.label}
          </Button>
        </a>
      ))
    }
  </div>
  <div class="mx-auto flex items-center gap-2">
    {
      isSkillCalculator && (
        <>
          {BL2_CLASSES.map((character) => (
            <a href={`${BASE}/skills/${character}`}>
              <Button
                variant="outline"
                className={cn(
                  'inline-flex cursor-pointer items-center justify-center gap-2 px-2 py-1 text-base font-semibold text-foreground/85',
                  pathname.endsWith(character) && ACTIVE_CLASSNAME
                )}
              >
                <img
                  src={`${BASE}/images/classes/${character}/thumbnail.webp`}
                  alt={character}
                  class="size-5 object-cover"
                />
                <span>{pascalCase(character)}</span>
              </Button>
            </a>
          ))}
        </>
      )
    }
    {
      isItems && (
        <>
          {ITEM_CATEGORIES.map((category) => (
            <a href={`${BASE}/items/${category}`}>
              <Button variant="outline" className={cn(pathname.endsWith(category) && ACTIVE_CLASSNAME)}>
                {capitalize(category)}
              </Button>
            </a>
          ))}
        </>
      )
    }
  </div>
</header>
